################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DataCrawler
/DataCrawler/bin/Debug
/DataCrawler/obj
/DataCrawler.API/obj
/DataCrawler.API/bin/Debug/netcoreapp3.1
/DataCrawler.Tasks/obj
/DataCrawler.Tasks/bin/Debug/netcoreapp3.1
